@font-face {
  font-family: 'inter';
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Inter-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'utendo';
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Utendo-Regular.ttf") format('truetype');
}

body {
  margin: 0;
  font-family: 'utendo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none !important;
}